@import 'https://fonts.googleapis.com/css2?family=Moirai+One&family=Quicksand:wght@400;500;700&display=swap';

// Primary Colors
$bg-light: #F8F8FF;
$bg-dark: #000000;

$black: #000000;
$white: #FFFFFF;
$dark-purple: #52057B;
$purple: #892CDC;
$light-purple: #BC6FF1;

// Fonts
$ff-body: 'Quicksand', sans-serif;
$ff-header: 'Moirai One', cursive;

// Font Weights
$font-weight: (
    "300": 300,
    "400": 400,
    "600": 600
);

@function fw($weight) {
    @return map-get($font-weight, $weight);
}

// Font Sizes
$font-sizes: (
    "h1": 30px,
    "h2": 25px,
    "h3": 20px,
    "p": 16px,
    "fine-text": 14px
);

@function fs($size) {
    @return map-get($font-sizes, $size);
}

// Text Decoration
$text-decoration: (
    "italic" : italic,
    "uppercase" : uppercase,
    "lowercase" : lowercase,
    "underline" : underline,
    "line-through" : line-through,
);

@function td($decoration) {
    @return map-get($text-decoration, $decoration);
}

// FLEX
@mixin flex($direction) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
}

// GRID
@mixin grid() {
    display: grid;
    gap: 1rem;
}

// SLOW BOUNCE ANIMATION
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.30rem);
    }
}

// SLOW SHIFT ANIMATION
@keyframes shift {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-0.30rem);
    }
}

// COLOR CHANGE ANIMATION
@keyframes colorChange {
    0% { color: $light-purple; }
    50% { color: $purple; }
    100% { color: $light-purple; }
}