@import "./reset";
@import "./variables";

// HOME

.home__contacts {
    @include grid;
    top: 30%;
    font-size: fs(h3);
    margin-right: 5rem;
    position: absolute;
}

.home__contacts:hover {
    color: $light-purple;
}

.home__text {
    grid-area: intro;
}

.home__profile {
    grid-area: profile;
}

@media screen and (min-width: 55rem) {
    .home__content {
        @include grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "intro profile";
        align-items: center;
        gap: 2rem;
    }
    
}

.home__scroll-down {
    margin-top: 2.5rem;
    animation: bounce 3s infinite;
}

.home__scroll-arrow {
   font-size: 1rem; 
}

// ABOUT
.about__content button i {
    animation: bounce 3s infinite;
}

// SKILLS TABS
.skills {
    width: 100%;
}

.skills__container {
    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.skills__content {
    margin-top: 1rem;
    border-radius: 10px;
    padding: 1rem;
    height: fit-content;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}

.skills__header {
    @include flex(row);
    justify-content: space-between;
    cursor: pointer;
    padding-bottom: 1rem;
    text-transform: td(uppercase);
    border-bottom: 0.5px solid rgba(0, 0, 0, .15);

    & div {
        @include flex(row);
        color: $dark-purple;
    }

    & div i {
        color: $dark-purple;
    }
}

.skill-icon {
    font-size: 1.2rem;
    padding: 0;
    color: $purple;
    margin-right: 1rem;
}

.skills__list {
    @include grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.skills__data {
    @include flex(row);
    padding: 0.5rem 0;
    width: fit-content;

    & .skill {
        //margin-left: 1rem;
        color: $black;
    }
}

.skills__close .skills__list {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.skills__close .skills__header {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0; 
}

.skills__close .skill-arrow {
    animation: bounce 3s infinite;
    animation: colorChange 3s infinite;
}

.skills__close .skills__header .skill-icon {
    animation: colorChange 3s infinite;
}

.skills__open .skills__list {
    height: max-content;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.skills__open .skill-arrow {
    transition: .5s;
    color: var(--font-accent);
    transform: rotate(-180deg);
}

.skills__open .skills__header div:first-child i {
    color: var(--font-accent);
    transition: .5s;
    transform: rotate(360deg);
}

// CONTACT
.contact button:first-child i {
    animation: shift 3s infinite;
}

// FOOTER
footer {
    bottom: 0;
    width: 100%;
    position: relative;
    @include flex(column);
    align-items: center;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}

