@import "./reset";
@import "./variables";

// HOME
.home {
    margin-bottom: 10rem;
}

.home__contacts {
    @include grid;
    top: 50%;
    font-size: fs(h3);
    // margin-right: 5rem;
    position: relative;
}

.home__contacts:hover {
    color: $light-purple;
}

.home__text {
    grid-area: intro;
}

.home__title {
    font-size: 40pt;
}

.home__profile {
    grid-area: profile;

    & img {
        max-width: 650px;
        padding: 2rem;
    }
}

@media screen and (min-width: 55rem) {
    .home__content {
        @include grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "intro profile";
        align-items: center;
        gap: 2rem;
    }
    
}

.contact-btn:hover {
    &_i {
        animation: shift 1.5s infinite;
    }
    
}

.home__scroll-down {
    padding-top: 8rem;
    animation: bounce 2s infinite;
}

.home__scroll-arrow {
   font-size: 1rem; 
}




// ABOUT
.about__content button i {
    animation: bounce 3s infinite;
}




// SKILLS
.skills__container {
    @include grid;
    gap: 0;
    //grid-template-columns: repeat(auto-fill, minmax(250px, 400px));
    // grid-auto-columns: minmax(300px, auto);
}

.skills__content {
    margin-top: 1rem;
    border-radius: 10px;
    padding: 1rem;
    height: fit-content;
    box-shadow: 0 -1px 1.5px rgba(0, 0, 0, .15);
}

.skills__header {
    @include flex(row);
    justify-content: space-between;
    cursor: pointer;
    padding-bottom: 1rem;
    text-transform: td(uppercase);

    & div {
        @include flex(row);
        color: $dark-purple;
    }

    & div i {
        color: $dark-purple;
    }
}

.skill-icon {
    font-size: 1.2rem;
    padding: 0;
    color: $purple;
    margin-right: 1rem;
}

.skills__list {
    @include grid;
    //grid-template-columns: repeat(auto-fill, minmax(250px, auto));
}

.skills__data {
    @include flex(row);
    padding: 0.5rem 0;
    width: fit-content;
    height: fit-content;

    & .skill {
        //margin-left: 1rem;
        color: $black;
    }
}

.skills-swiper {
    max-width: 500px;
    height: 650px;
    background-color: orange;
}

.swiper-slide {
    @include flex(column);
    justify-content: center;
    overflow: hidden;
}

.skills__close {
    & .skills__list {
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
    }

    & .skills__header {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0; 
    }

    & .skill-arrow {
        animation: bounce 3s infinite;
        animation: colorChange 3s infinite;
    }

    & .skills__header .skill-icon {
        animation: colorChange 3s infinite;
    }
}

.skills__open {
    & .skills__list {
        height: max-content;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
    }

    & .skill-arrow {
        transition: .5s;
        color: var(--font-accent);
        transform: rotate(-180deg);
    }

    & .skills__header div:first-child i {
        color: var(--font-accent);
        transition: .5s;
        transform: rotate(360deg);
    }
}




//PROJECTS
.projects-swiper {
    max-width: 1250px;
    @include flex(column);
    justify-content: center;
    background-color: aqua;
}

.project-img {
    width: 200px;
}
