@import "./reset";
@import "./variables";

// NAVIGATION BAR
header {
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    z-index: 9999;
    position: fixed;
    border-radius: 0 0 30px 30px;
    background-color: $bg-light;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .4);
}

nav {
    max-width: 100%;
    margin: 0 1.5rem;
    height: 3.5rem;
    @include flex(row);
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    background-color: $bg-light;
}

i, .nav__number {
    color: $dark-purple;
    font-weight: fw(600);
}

.nav__link:hover, .nav__toggle i:hover {
    cursor: pointer;
    color: $light-purple;
    transition: 500ms ease-in-out;
    border-radius: 30px;
    background-color: hsla(240, 100%, 99%, .5);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .3);
}

.nav__list {
    display: grid;
    gap: 1rem;
}

.nav__link {
    padding: 0.5em;
    @include flex(column);
    align-items: center;
    justify-content: center;
}


.nav__number {
    margin-right: 0.5em;
    font-size: 1.2rem;
    font-weight: fw(600);
}

.nav__btn {
    font-size: 1.3rem;
}

.nav__close {
    display: none;
    right: 1.45rem;
    bottom: 0.8rem;
    cursor: pointer;
    font-size: 1.8rem;
    position: absolute;
    color: $light-purple;
}

// for mobile
@media screen and (max-width: 55rem) {
    header {
        border-radius: 30px 30px 0 0;
    }
    .nav__menu {
        left: 0;
        width: 100%; 
        bottom: -100%;
        position: fixed;
        transition: .5s;
        border-radius: 30px 30px 0 0;
        padding: 2rem 1.5rem 4rem;
        background-color: $bg-light;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .4);
    }
}

// for tablets
@media screen and (min-width: 47rem) {
    .nav__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

// for desktop
@media screen and (min-width: 55.1rem) {
    header {
        top: 0;
        margin-bottom: 5rem;
    }
    .nav__togglers {
        display: none;
    }
    .nav__menu{
        bottom: 0;
    }
    .nav__link {
        @include flex(row);
    }
}

.show-menu { /*js menu visibility toggle*/
    bottom: 0%;
    transition: .5s;
}

.hide-icon { /*js menu icon visibility toggle*/
    display: none;
}

.show-icon { /*js menu icon visibility toggle*/
    display: block;
}